.idea/
.idea/*

lib/
lib/*

*.py[cod]
*.pyc

bin/
bin/*

share/
share/*

local/
local/*

include/
include/*

myvenv/
myvenv/*

*.db
db.sqlite3

migrations/
migrations/*

__pycache__/
__pycache__/*

.DS_Store

