{% extends "base.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content(cols=80, rows=4) }}<br>
            {% for error in form.content.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    <hr>
    {% for post in posts %}
        <p>post id: {{ post.id }} user id: {{ post.user_id }} time UTC: {{ post.timestamp }}</p>
        <p>{{ post.name }}</p>
        <p>{{ post.content }}</p>
        {% if current_user.is_authenticated %}
            {% if current_user.id == post.user_id %}
                <p><a href="{{ url_for('main.edit', id=post.id) }}">Edited post</a> 
                   <a href="{{ url_for('main.delete', id=post.id) }}">Delete post</a></p>
            {% endif %}
        {% endif %}
        <br>
    {% endfor %}
{% endblock %}

